JWT_SECRET="your_jwt_secret"
# db conn string makes sense to edit if you are not running pywrangler
# otherwise will use the local D1 instance
# you can also leave it empty and defaults to the project
# root folder with dev.db
# but you can configure it if you want
DB_CONNECTION_STRING="sqlite:////path/to/your/database.sqlite"
